@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

/* top red strip above 'header' */
.top-bar{
    height: 55px;
    width:100%;
    background-color: #e90000;
    margin-bottom: 0;
    overflow: hidden;
}

/*header*/

.row-1{
    height: 170px;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(0,0,0,0.1);
}

h3 {
    font-family: "oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #09004b; 
}
    
#logo{
    float: left;
    font-size: 280%;
    margin-left: 70px;
    height: 87px;
    width: 170px;
    padding: 6px;
    text-align: center;
    border: 3.5px solid #000000;
    margin-top: 42px;
}
    

#menu {
    line-height: 65px;
}
    
#menu {
    font-family: "oswald", sans-serif;
    font-size: 16px;
    font-weight: 300;
    list-style-type: none; 
    letter-spacing: 3px;
}
    
#menu li {
    float: right;
    margin-right: 30px;
}
    
#menu a {
    text-decoration: none;
    color: inherit;
}
    
#menu a:hover {
    border-bottom: 2px solid #cac9c9;
}
    
#menu .active {
    border-bottom: 2px solid #cac9c9;
    font-weight: bold;
}

/**section 1 ** index.html/
/**carousel**/

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

/** home.html**/  
/**home-title**/
.home-title-box{
    width: 100%;
    margin: 3rem 0 3rem 0;
}

/**section 1 home.html**/
.container-fluid-1{
    max-width: 90%;
    margin: 0px auto;
}

.discover-box{
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(0,0,0,0.1);
    border-radius: 12px;
    margin-bottom: 60px;
}

.discover-item::before {
    position: absolute;
    content: 'Coming Soon!';
    right: -1px;
    top: -2px;
    width: calc(100% + 2.25px);
    background: #e90000;
    color: #fafafa;
    height: 25px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    border-radius: 6px 6px 0 0;
}

.discover-item{
    max-width: 31.7% ;
    display: inline-block;
    height: 300px;
    border: 2.5px groove;
    border-radius: 6px;
    margin: 6px;
    font-family: "oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3px;
    vertical-align: bottom;
    padding: 0;
    background-color: #fafafa;
}

.discover-item p{
    width: 100%;
}

section .main-content i {
    font-size: 70px;
    color: #000000;
    text-align: center;
    position: relative;
    top: 90px;
    text-shadow: 0.01em 0.01em 0.02em #000000;
}

section .main-content i:hover{
    font-size: 74px;
    transition: all .2s ease-in-out;
}

section .main-content .discover-item:hover {
    box-shadow: inset 0.0rem 0.0rem 1rem rgba(0,0,0,0.15);
}

section .main-content .discover-calendar p {
    position: absolute;
    bottom: 30px;
}

section .main-content .discover-ac p {
    position: absolute;
    bottom: 30px;
}

section .main-content .discover-attractions p {
    position: absolute;
    bottom: 30px;
}

section .main-content .discover-offers p {
    position: absolute;
    bottom: 30px;
}

section .main-content .discover-traveltips p {
    position: absolute;
    bottom: 30px;
}

section .main-content .discover-hr p {
    position: absolute;
    bottom: 30px;
}

/**section 2 download app home.html**/
section .download-box{
    padding: 22px;
    display: inline-block;
}

.download-heading{
    font-family: "oswald", sans-serif;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 180px;
    left: 30px;
    margin: 0 auto;
}

.download-subheading{
    font-family: "oswald", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 195px;
    left:30px;
    margin: 0 auto;
}

.btn-download{
    font-family: "oswald", sans-serif;
    text-align: center;
    position: relative;
    top: 240px;
    left: 30px;
}

.download-image{
    text-align: center;
    height: 650px;
}

/**section 1** contactus.html/
/**contact us title**/
.row-2{
    width: 100%;
    margin: 1.5rem 0 3rem 0;
}

.page-title {
    font-family: "oswald", sans-serif;
    font-weight: 300;
    font-size: 400%;
    color: #2e2e2e;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px; 
}

/**contact us info - contactus.html**/
 .container{
    width: 100%;
}

.container-items{
    height: 320px;
    padding: 28px 0 10px 0;
    border-radius: 12px;
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(0,0,0,0.1);
}

.row-3a{
    text-align: center;
    margin: 0 auto;
}

.info-items {
    max-width: 30% ;
    display: inline-block;
    align-items: center;
    font-family: "oswald", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.info-address,.info-email,.info-phone{
    height: 260px;
    text-align: center;
}

.info-address{
    position: relative;
    left: 30px
}

.info-email{
    position: relative;
    right: 30px ;
}

.info-items i {
    font-size: 50px;
    display: inline-block;
    margin: 60px 0 25px 0;
    text-shadow: 0.01em 0.06em 0.02em #000000;
}

.info-items p {
    margin: 0 auto
}

/**section** (2)/
/**contact us form - contactus.html**/

.container-fluid{
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(0,0,0,0.1);
    width:100%;
}

.contact-form-heading {
    font-family: "oswald", sans-serif;
    font-weight: 400 bold;
    padding-top: 30px;
    margin-top: 50px;
    margin-bottom: 20px ;
}

.contact-form-subheading {
    font-family: "oswald", sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 15px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

input#fullname.form-control,input#email.form-control {
    display: inline;
    width: 49%;
    margin-top: 10px;
    margin-bottom: 15px;
}

input#fullname.form-control {
    margin-right: 10px;
}

button[type="submit"] {
    margin: 15px 0 40px 0;
    padding: 6px 8px 10px 8px ;
    color: #fafafa;
    background-color: #e90000;
    font-family: "oswald", sans-serif;
    font-weight: 300;
}

/* signup.html */
/* Form */

.form-section {
    background: url("../images/french-food.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    text-align: center;
}

.signup-form {
    backdrop-filter: blur(4px) ;
    color: #09004b;
    max-width: 700px;
    position: absolute;
    top: 74%;
    left: 52%;
    align-items:  center;
    padding: 30px;
    text-align: center;
}

.signup-form > h3 {
    color: #09004b;
    margin-bottom: 20px;
}

.text-input {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    background: transparent;
    color: #09004b;
    width: 60%;
    height: 35px;
    margin: 0 auto;
    border: 1px solid #09004b;
    border-radius: 4px;
    letter-spacing: 2px;
    display: block;
}

.text-label{
    font-family: "oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 15px 0 15px 0;
}

.signup-btn {
    font-family: "oswald", sans-serif;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    padding: 14px 32px 16px 32px;
    text-align: center;
    font-size: 20px;
    background-color:#09004b;
    color: #fafafa;
    display: inline-block;
    letter-spacing: 2px;
}

.signup-btn:hover {
    background-color: #fafafa;
    color: #09004b;
    box-shadow: inset 0.0rem 0.0rem 1rem rgba(0,0,0,0.15);
}


/*footer all pages*/

.footer {
    overflow: hidden;
    background-color: #09004b;
}

.footer-content{
    padding: 35px 0;
}

.footer-about{
    font-family: "oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #fafafa;
}

.footer-about-text{
    font-family: "oswald", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

button[type="button"] {
    font-family: "oswald", sans-serif;
    font-weight: 400;
}

.bottom-bar{
    height: 100px;
    width: 100%;
    background-color: #e90000;
    padding: 30px 0;
    box-shadow: inset 0.01rem 1rem 0.5rem rgba(0,0,0,.2);
}

.bottom-box {
    width: 95%;
    height:50px;
    margin: 0 auto;
}

.justify-content-between {
    justify-content: space-between!important;
}

.row-6a {
    display: flex;
    flex-wrap: wrap;
}

.text-left{
    text-align: left;
}

.footer .bottom-bar .bottom-box{
    font-family: "oswald", sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 45px;
    color: #fafafa;
}
.col-md-6 {
    width: 50%;
    padding: 0 12px;
    margin: 0;
}

.text-right{
    text-align: right;
}

.bottom-box .socials a {
    letter-spacing: 3px;
}
 
.footer .bottom-box .socials a {
    text-align: center;
    font-size: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #e45252;
    border-radius: 50%; 
    line-height: 7px;
    color: #fafafa;
    text-decoration: none;
}

.footer .bottom-box .socials i {
    padding: 11px;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    text-align: center;
    transition: all .4s ease-in-out;
}

.bottom-box .socials a i:hover {
    background-color: #d98c8c;
}

/* responsive bits, small snippets from !all pages that needed adjusting */

@media screen and (max-width: 1024px){

    .page-title {
        font-family: "oswald", sans-serif;
        font-weight: 300;
        font-size: 300%;
        color: #2e2e2e;
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px; 
    }

    .discover-box{
        width: 100%;
        text-align: center;
        padding: 10px;
        box-shadow: 0rem 0rem 1rem 0.5rem rgba(0,0,0,0.1);
        border-radius: 12px;
        margin-bottom: 60px;
    }

    .discover-item{
        max-width: 45% ;
        display: inline-block;
        height: 250px;
        border: 2.5px groove;
        border-radius: 6px;
        margin: 6px;
        font-family: "oswald", sans-serif;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 3px;
        vertical-align: bottom;
        padding: 0;
        background-color: #fafafa;
    }
    
    .discover-item p{
        width: 100%;
    }
    
    section .main-content i {
        font-size: 70px;
        color: #000000;
        text-align: center;
        position: relative;
        top: 50px;
        text-shadow: 0.01em 0.01em 0.02em #000000;
    }

    .container-items{
        display: none;
    }
    
    .center-form {
        display: inline;
        padding-top: 10px;
        margin: 0 auto;
        max-width: 70%;
    }

    .signup-form {
        color: #fafafa;
        max-width: 700px;
        position: absolute;
        top: 90%;
        left: 46%;
        align-items:  center;
        padding: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 768px){

    #menu{
        clear: left;
        float: left;
        margin-top: 10px;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    .hide-mobile{
        display:none;
    }


    .page-title {
        font-family: "oswald", sans-serif;
        font-weight: 300;
        font-size: 250%;
        color: #2e2e2e;
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px; 
    }

    .discover-box{
        width: 100%;
        text-align: center;
        padding: 10px;
        box-shadow: 0rem 0rem 1rem 0.5rem rgba(0,0,0,0.1);
        border-radius: 12px;
        margin-bottom: 60px;
    }

    .discover-item{
        max-width: 45% ;
        display: inline-block;
        height: 200px;
        border: 2.5px groove;
        border-radius: 6px;
        margin: 6px;
        font-family: "oswald", sans-serif;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 3px;
        vertical-align: bottom;
        padding: 0;
        background-color: #fafafa;
    }
    
    .discover-item p{
        width: 100%;
    }
    
    section .main-content i {
        font-size: 40px;
        color: #000000;
        text-align: center;
        position: relative;
        top: 50px;
        text-shadow: 0.01em 0.01em 0.02em #000000;
    }
    
    .download-image{
        visibility: hidden;
        height: 0px;
    }

    .download-box{
        padding: 0px;
    }
    
    .download-text{
        padding: 10px;
    }

    .download-heading{
        font-family: "oswald", sans-serif;
        text-transform: uppercase;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 70px;
        width: 100%;
    }
    
    .download-subheading{
        font-family: "oswald", sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        position: relative;
        top: 90px;
        margin: 0 auto;
    }
    
    .btn-download{
        text-align: center;
        position: relative;
        top: 130px;
    }

    .download-app{
        text-align: center;
        height: 450px;
        padding: 0 50px 0 0;
        margin: 0 auto;
    }

    input#fullname.form-control {
        margin-right: 0px;
    }

    .center-form {
        display: inline;
        padding-top: 10px;
        margin: 0 auto;
        max-width: 70%;
    }

    .signup-form {
        color: #fafafa;
        max-width: 700px;
        position: absolute;
        top: 75%;
        left: 5%;
        align-items:  center;
        padding: 30px;
        text-align: center;
    }


/* footer copyright text */
    .text-left{
        text-align: left;
        font-size: small;
    }
    
}




